.array-container {


    position: fixed;

  
    top: 20%; 
    left:10%;


  }
  
  .array-bar {
    width: 2px;
    display: inline-block;
    margin: 0 1px;
    background-color: turquoise;
  }

  #info {
    position: fixed;
    top: 0%;

  }